# Ignore all files by default, but scan all directories.
*
!*/

# Do not ignore git files in the root of the repo.
!/.git*

# Do not ignore source, config and plugins dirs.
!/Editor/**
!/Engine/**
!/Vendor/**

# Explicitly ignore the Build directory
/Build/

!CMakeLists.txt
!Build.bat

# Windows
ehthumbs.db
Thumbs.db

# Mac OS X
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user